.wrapp {
  display: flex;
  height: 50vh;
}
.stopwatch {
  width: 50%;
  height: 50%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  width: 50%;
  height: 50%;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clickMeButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
